.contact-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: white;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.contact-form label {
  margin-bottom: 5px;
}

.contact-form input, .contact-form textarea, .contact-form button {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: white;
  color: black;
}

.contact-form button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.255);
  color: white;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #ffffff6c;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.run-animation {
  animation: fadeInUp 0.5s ease-out forwards;
}
