.App{
  text-align: center;
  background-color: #000000;
  color: #ece7e7;
  height: 100vh; 
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.App-header{
  color: #b43737;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding: 2rem;
}

p{
  color: #555;
  margin-bottom: 2rem;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn{
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: monospace;
  font-weight: 500;
  background-color: #36a2b3;
  color: white;
  transition: background-color 0.3s;
}

.btn:hover{
  background-color: rgba(37, 136, 151, 0.906)
}

#root{
  max-width: 2000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  margin: 0;
  padding: 0;
  background-color: #000000; 
}

 